body {
    display: flex;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
}

.card {
    background-color: rgb(100, 100, 100);
    border: 2px solid #000000;
    border-radius: 9px;
    padding: 20px;
    ;
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid rgb(255, 255, 255);
}

h2 {
    margin-top: 50px;
}

a {
    color: #ff0000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.Section {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: #ffffff;
    padding: 10px;
    border-radius: 8px;
}
section {
    background-color: rgb(0, 0, 0);
    width: 60%;
    height: 40vh;
    display: flex;
    justify-content: space-around;  
    align-items: center;
    margin: 15px auto;
    border-radius: 15px;

}

.filha {
    width: 240px;
    height: 255px;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    border-radius: 15px;

}
.filha>*{
    margin: auto;
    text-align: center;
    padding: 10px;
}
.sections-card{
    margin: 20px auto;
     width: 80vw;
     display: flex;
     flex-wrap: wrap;
     background-color: rgb(100, 100, 100);
     justify-content: space-around;
}
header{
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 40px;
    text-align: center;
}
.card{
    width: 20%;
    height: 33vh;
    background-color: black;
    color: white;
    margin: 2%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-img{
    display: block;
    margin: auto;
}